/* 



                    This css file will be used for styling for admin and moderators page



*/

body {
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	margin: 0;
	font-weight: 500;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style: none;
}
.current-link {
    color: #ec9131;
}



/*     Nav Bar Top      */
.nav-top-bar{
    height: 50px;
    display: flex;
    justify-content: flex-end;
}
.dashboard{
    padding-left: 0px;
}
.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo img {
	width: 80%;
    height: 60%;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
.nav-top-bar-account{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.nav-top-bar-account div p{
    margin: 0px;
}
.nav-top-bar-account div p:last-child{
    color: rgba(0, 0, 0, 0.5);
}
.nav-top-bar-account div p:first-child{
    font-size: 18px;
}
.nav-top-bar-account div {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.nav-top-bar-search-user button{
    border: none;
    background-color: transparent;
    position: absolute;
    padding: 3px 5px 0 10px;
}
.nav-top-bar-search-user button img{
    width: 20px;
}
.nav-top-bar-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin:0 30px;
}
/*.nav-top-bar-search-filter button{
    display: inline-block;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    padding: 5px 20px;
    font-weight: 600;
}*/
.nav-top-bar-search form input{
    width: 300px;
    padding: 5px 5px 5px 40px;
    border-radius: 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0.05);
    outline: none;
}
.nav-top-bar-search form select{
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    outline: none;
    border: none;
    text-align: center;
}
.dropdown{
    background-color: white;
}
.user-dropbtn {
	background-color: #fff;
	font-size: 18px;
	outline: none;
	padding: 10.5px;
	font-weight: 500;
	border: 1px solid;
	border: none;
}
.user-dropbtn:hover {
	text-decoration: underline;
	text-decoration-color: #ec9131;
}



/*    Dashboard      */
.page-body-wrapper {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
}
.dashboard-header{
    display: flex;
    font-size: 48px;
    justify-content: center;
}
.dashboard-header p{
    margin: 0px;
}
.main-panel {
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    padding: 2.75rem 2.25rem;
    width: 100%;
}

.page-header {
    display: flex;
    align-items: center;
    margin: 0 0 1.5rem 0;
}

.page-title {
    color: #343a40;
    font-size: 25px;
    margin-bottom: 0;
}

.stretch-card {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

.stretch-card>.card {
    width: 100%;
    min-width: 100%;
}

.grid-margin {
    margin-bottom: 40px;
}

.bg-gradient-success {
    background-color: rgba(121, 193, 65);
}

.bg-gradient-info {
    background-color: rgb(117, 193, 208);
}

.bg-gradient-danger {
    background-color: hsla(31, 83%, 56%);
}
.card-title{
    font-size: 36px;
    text-align: center;
}
.latest-table-button{
    display: flex;
    justify-content: center;
}
.btn-table{
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #ec9131;
    border: none;
}
.btn-table a{
    color: white;
}
.card-total-content{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.card-total-content img{
    width: 75px;
    height: 75px;
}
.card-total-content h4{
    font-weight: normal;
    margin: 0px;
}
.card-total-see-more{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.card-total-see-more p{
    margin: 0px;
}





/*     Nav Bar Left      */
.nav-left-bar{
    display: flex;
    position: fixed;
    flex-direction: column;
    padding: 0px;
    font-size: 24px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    height: 100%;
}
.nav-left-bar div{
    display: flex;
    margin: 0;
    
}
.nav-left-bar div a img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.nav-left-bar div a{
    display: flex;
    padding: 10px 10px 10px 50px;
    align-items: center;
    width: 90%;
}
.active{
    background-color: rgba(236, 146, 49, 0.3);
    color: #ec9131;
    border-radius: 0 50px 50px 0;
}
.nav-left-bar div a:hover:not(.active){
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0 50px 50px 0;
}

.dashboard{
    margin-left: auto;
    padding: 0px;
}





/*    User List      */
.user-list{
    margin-left: auto;
    padding: 0px;
}
.table-redirect{
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.table-redirect a{
    padding: 10px 20px;
    margin: 10px;
    border-radius: 50px;
}
.table-redirect a:hover{
    background-color: #ec9131;
    color: white;
    transition: all 0.4s;
}
.table-redirect-active-link{
    background-color: #ec9131;
    color: white;
}
.table-redirect a p, .table-redirect div p{
    margin: 0;
}
.activate-acc-button button{
    display: inline-block;
    border-radius: 20px;
    color: white;
    background-color: #ec9131;
    border: none;
    padding: 0 10px;
    width: 85px;
}
.delete-acc-button button{
    
    border-radius: 20px;
    color: white;
    background-color: rgb(200, 0, 0);
    border: none;
    padding: 0 10px;
}
.user-action-button form{
    display: inline-block;
}
.user-header{
    display: flex;
    font-size: 48px;
    justify-content: center;
}
thead{
    font-size: 20px;
    
}
.table-redirect div {
    display: flex;
    align-self: center;
}
.filter-table-button {
    display: inline-block;
    border-radius: 20px;
    color: white;
    background-color: #ec9131;
    border: none;
    padding: 0 10px;
    width: 85px;
}




/*    Confirm Popup      */
.popup-confirm{
    display: flex;
    height: 100%;
    align-items: center;
}
.popup-confirm-btn{
    background-color: #ec9131;
    border-color: #ec9131;
    color: white;
}
.popup-confirm-btn:hover{
    background-color: #da8100;
    border-color: #da8100;
    color: white;
}

/* News */
.news {
    margin-left: auto;
    padding: 0;
}



.news-create-button button{
    background-color: #ec9131;
    border-radius: 100rem;
    padding: 5px 20px;
    border: none;
    color: #fff;
}

.news-create-button {
    padding: 0;
}

.news-detail-admin-button a,
.news-create-button a {
    color: #fff;
}
.blank-background {
    background-color: rgb(0, 0, 0, 0.05);
    height: initial;
    padding: 80px  50px;
}
.add-news-header p:first-child {
    font-size: 48px;
    text-align: center;
    margin: 0px;
}
.news-content-info-header{
    font-size: 24px;
    margin-bottom: 20px;
}
.news-content-info{
    font-size: 24px;
    margin-bottom: 20px;
}
.news-content-info-header span:first-child {
    color: red;
}
.add-news-create{
    display: flex;
    justify-content: center;
}
.news-content-info-header input {
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: #f8f8f8;
    width: 50%;
}

.news-content-info-white-background input {
    background-color: #fff;
}

.news-content-info select, option {
    margin-left: 5px;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    background-color: #f8f8f8;
}

.news-detail-admin {
    margin-left: auto;
    padding: 0;
}

.news-detail-admin-action {
    margin-top: 20px;
    display: flex;
    justify-content: end;
}

.news-detail-admin-button button{
    background-color: #ec9131;
    border-radius: 100rem;
    padding: 5px 20px;
    border: none;
}

.news-detail-admin-button > .news-detail-admin-button-delete {
    background-color: rgb(200, 0, 0);
    color: #fff;
    margin-left: 5px;
}

.news-table-button button,
.user-detail-admin-button button,
.recipe-table-button button {
    display: inline-block;
    border-radius: 20px;
    color: white;
    background-color: #ec9131;
    border: none;
    padding: 0 10px;
    width: 85px;
}
.news-action-button form{
    display: inline-block;
}
.news-content {
    background-color: white;
    height: 100%;
    padding: 30px 30px;
    margin: 0 50px;
}

.news-content-info-header span{
    color: red;
}
.new-result{
    background-color: white;
}







/* Recipe */
.recipe {
    margin-left: auto;
    padding: 0;
}

.recipe-table {
    margin: 0 auto;
    padding: 25px;
}

.recipe-table-title {
    text-align: center;
    font-size: 36px;
}

.recipe-table-form form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.recipe-detail-admin {
    margin-left: auto;
    padding: 0;
}

.recipe-detail-admin-action {
    margin-top: 20px;
    display: flex;
    justify-content: end;
}

.recipe-table-button > .recipe-table-button-delete{
    background-color: rgb(200, 0, 0);
    color: #fff;
    margin-left: 5px;
}

/* User */
.user {
    margin-left: auto;
    padding: 0;
}

.user-detail-admin {
    margin-left: auto;
    padding: 25px;
}

.user-detail-admin-heading {
    display: flex;
    align-items: center;
    min-height: 80px;
}

.user-detail-admin-title {
    color: #ec9131;
}