<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>STMP host choosing</description>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <description>Port is the SMTP protocol code required to send mails. 587 sends encrypted mails.</description>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <description>Your email</description>
        <param-name>user</param-name>
        <param-value>Delideliswp@gmail.com</param-value>
    </context-param>
    <context-param>
        <description>your mail pass, for google SMTP you must create a app pass</description>
        <param-name>pass</param-name>
        <param-value>kdrqzqffvjjmddat</param-value>
    </context-param>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>Filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>Filter.UserFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoadHeaderFilter</filter-name>
        <filter-class>Filter.LoadHeaderFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoadHomeFilter</filter-name>
        <filter-class>Filter.LoadHomeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoadHomeFilter</filter-name>
        <url-pattern>/home.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <servlet-name>UserController</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>AdminController</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/addRecipe.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoadHeaderFilter</filter-name>
        <url-pattern>/home.jsp</url-pattern>
        <url-pattern>/recipeDetail.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoadHeaderFilter</filter-name>
        <servlet-name>SearchServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoadHeaderFilter</filter-name>
        <servlet-name>SearchByTypeServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>Servlet.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>Servlet.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>Servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveUserPublicDetailServlet</servlet-name>
        <servlet-class>Servlet.User.SaveUserPublicDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserEmailServlet</servlet-name>
        <servlet-class>Servlet.User.ChangeUserEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserPasswordServlet</servlet-name>
        <servlet-class>Servlet.User.ChangeUserPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecipeDetailServlet</servlet-name>
        <servlet-class>Servlet.RecipeDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>Servlet.User.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsDetailServlet</servlet-name>
        <servlet-class>Servlet.NewsDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>Servlet.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAccountServlet</servlet-name>
        <servlet-class>Servlet.Admin.ManageAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeactivateAccountServlet</servlet-name>
        <servlet-class>Servlet.Admin.DeactivateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateAccountServlet</servlet-name>
        <servlet-class>Servlet.Admin.ActivateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageRecipeServlet</servlet-name>
        <servlet-class>Servlet.Admin.ManageRecipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmRecipeServlet</servlet-name>
        <servlet-class>Servlet.Admin.ConfirmRecipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccountServlet</servlet-name>
        <servlet-class>Servlet.Admin.SearchAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUserDetailServlet</servlet-name>
        <servlet-class>Servlet.Admin.ShowUserDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowRecipeDetailServlet</servlet-name>
        <servlet-class>Servlet.Admin.ShowRecipeDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageNewsServlet</servlet-name>
        <servlet-class>Servlet.Admin.ManageNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowNewsDetailServlet</servlet-name>
        <servlet-class>Servlet.Admin.ShowNewsDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewsServlet</servlet-name>
        <servlet-class>Servlet.Admin.CreateNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNewsServlet</servlet-name>
        <servlet-class>Servlet.Admin.UpdateNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNewsServlet</servlet-name>
        <servlet-class>Servlet.Admin.DeleteNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>Servlet.Admin.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFeedbackServlet</servlet-name>
        <servlet-class>Servlet.User.EditFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeedbackServlet</servlet-name>
        <servlet-class>Servlet.User.DeleteFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImageServlet</servlet-name>
        <servlet-class>Servlet.User.UploadImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRecipeServlet</servlet-name>
        <servlet-class>Servlet.User.EditRecipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRecipeServlet</servlet-name>
        <servlet-class>Servlet.User.DeleteRecipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRecipeServlet</servlet-name>
        <servlet-class>Servlet.User.AddRecipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadNewsImageServlet</servlet-name>
        <servlet-class>Servlet.Admin.UploadNewsImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletImageLoader</servlet-name>
        <servlet-class>Servlet.ServletImageLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetNotificationStatusServlet</servlet-name>
        <servlet-class>Servlet.User.SetNotificationStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNotificationServlet</servlet-name>
        <servlet-class>Servlet.User.DeleteNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPlanServlet</servlet-name>
        <servlet-class>Servlet.User.AddPlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRecipeToPlanServlet</servlet-name>
        <servlet-class>Servlet.User.AddRecipeToPlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRecipeToPlan</servlet-name>
        <servlet-class>AddRecipeToPlan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanDetailServlet</servlet-name>
        <servlet-class>Servlet.User.PlanDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuggestionRecipeServlet</servlet-name>
        <servlet-class>Servlet.Admin.SuggestionRecipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSuggestionSerlvet</servlet-name>
        <servlet-class>Servlet.Admin.AddSuggestionSerlvet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSuggestionSerlvet</servlet-name>
        <servlet-class>Servlet.Admin.CreateSuggestionSerlvet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterSuggestionServlet</servlet-name>
        <servlet-class>Servlet.Admin.FilterSuggestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveSuggestionServlet</servlet-name>
        <servlet-class>Servlet.Admin.RemoveSuggestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSuggestionServlet</servlet-name>
        <servlet-class>Servlet.Admin.ManageSuggestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSuggestionServlet</servlet-name>
        <servlet-class>Servlet.Admin.UpdateSuggestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSuggestionServlet</servlet-name>
        <servlet-class>Servlet.Admin.DeleteSuggestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectRecipeServlet</servlet-name>
        <servlet-class>Servlet.Admin.RejectRecipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadAvatarImageServlet</servlet-name>
        <servlet-class>Servlet.User.UploadAvatarImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>Servlet.Admin.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>Servlet.User.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadEditRecipeServlet</servlet-name>
        <servlet-class>Servlet.User.LoadEditRecipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadRecipeManagementServlet</servlet-name>
        <servlet-class>Servlet.User.LoadRecipeManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadUserReviewServlet</servlet-name>
        <servlet-class>Servlet.User.LoadUserReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadPublicDetailServlet</servlet-name>
        <servlet-class>Servlet.LoadPublicDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadPublicProfileServlet</servlet-name>
        <servlet-class>Servlet.LoadPublicProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TriggerAppServlet</servlet-name>
        <servlet-class>Servlet.TriggerAppServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByTypeServlet</servlet-name>
        <servlet-class>Servlet.SearchByTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserPublicDetailServlet</servlet-name>
        <servlet-class>Servlet.User.UserPublicDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEmailSettingServlet</servlet-name>
        <servlet-class>Servlet.User.UserEmailSettingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserPasswordSettingServlet</servlet-name>
        <servlet-class>Servlet.User.UserPasswordSettingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>Servlet.Admin.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadNewsForUpdateServlet</servlet-name>
        <servlet-class>Servlet.Admin.LoadNewsForUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSuggestionForUpdateServlet</servlet-name>
        <servlet-class>Servlet.Admin.LoadSuggestionForUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSuggestionForCreateServlet</servlet-name>
        <servlet-class>Servlet.Admin.LoadSuggestionForCreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadNewsListServlet</servlet-name>
        <servlet-class>Servlet.LoadNewsListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBroadcastServlet</servlet-name>
        <servlet-class>Servlet.Admin.CreateBroadcastServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadBroadcastImageServlet</servlet-name>
        <servlet-class>Servlet.Admin.UploadBroadcastImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanManagementServlet</servlet-name>
        <servlet-class>Servlet.User.PlanManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryLoadServlet</servlet-name>
        <servlet-class>Servlet.User.CategoryLoadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanSearchServlet</servlet-name>
        <servlet-class>Servlet.User.PlanSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanAddRecipeServlet</servlet-name>
        <servlet-class>Servlet.User.PlanAddRecipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanRecipeNotificationServlet</servlet-name>
        <servlet-class>Servlet.User.PlanRecipeNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanRemoveRecipeServlet</servlet-name>
        <servlet-class>Servlet.User.PlanRemoveRecipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanInformationEditServlet</servlet-name>
        <servlet-class>Servlet.User.PlanInformationEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveUserRecipeServlet</servlet-name>
        <servlet-class>Servlet.User.SaveUserRecipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSavedRecipe</servlet-name>
        <servlet-class>Servlet.User.LoadSavedRecipe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSavedRecipeServlet</servlet-name>
        <servlet-class>Servlet.User.LoadSavedRecipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSavedRecipeServlet</servlet-name>
        <servlet-class>Servlet.User.DeleteSavedRecipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDailyPlanServlet</servlet-name>
        <servlet-class>Servlet.User.AddDailyPlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddWeeklyPlanServlet</servlet-name>
        <servlet-class>Servlet.User.AddWeeklyPlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStartTimeRecipeServlet</servlet-name>
        <servlet-class>Servlet.User.EditStartTimeRecipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPlanMultiplesMealServlet</servlet-name>
        <servlet-class>Servlet.User.AddPlanMultiplesMealServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisablePlanServlet</servlet-name>
        <servlet-class>Servlet.User.DisablePlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveAllRecipeServlet</servlet-name>
        <servlet-class>Servlet.User.RemoveAllRecipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePlanServlet</servlet-name>
        <servlet-class>Servlet.User.DeletePlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UseDailyPlanTemplateServlet</servlet-name>
        <servlet-class>Servlet.User.UseDailyPlanTemplateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SychronizeTemplateServlet</servlet-name>
        <servlet-class>Servlet.User.SychronizeTemplateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadEditPlanDetailServlet</servlet-name>
        <servlet-class>Servlet.User.LoadEditPlanDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadEditDailyTemplateServlet</servlet-name>
        <servlet-class>Servlet.User.LoadEditDailyTemplateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveUserPublicDetailServlet</servlet-name>
        <url-pattern>/SaveUserPublicDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserEmailServlet</servlet-name>
        <url-pattern>/ChangeUserEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserPasswordServlet</servlet-name>
        <url-pattern>/ChangeUserPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecipeDetailServlet</servlet-name>
        <url-pattern>/RecipeDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/FeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsDetailServlet</servlet-name>
        <url-pattern>/NewsDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAccountServlet</servlet-name>
        <url-pattern>/ManageAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeactivateAccountServlet</servlet-name>
        <url-pattern>/DeactivateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateAccountServlet</servlet-name>
        <url-pattern>/ActivateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageRecipeServlet</servlet-name>
        <url-pattern>/ManageRecipeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmRecipeServlet</servlet-name>
        <url-pattern>/ConfirmRecipeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccountServlet</servlet-name>
        <url-pattern>/SearchAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUserDetailServlet</servlet-name>
        <url-pattern>/ShowUserDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowRecipeDetailServlet</servlet-name>
        <url-pattern>/ShowRecipeDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageNewsServlet</servlet-name>
        <url-pattern>/ManageNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowNewsDetailServlet</servlet-name>
        <url-pattern>/ShowNewsDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewsServlet</servlet-name>
        <url-pattern>/CreateNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNewsServlet</servlet-name>
        <url-pattern>/UpdateNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNewsServlet</servlet-name>
        <url-pattern>/DeleteNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/DeleteAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFeedbackServlet</servlet-name>
        <url-pattern>/EditFeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeedbackServlet</servlet-name>
        <url-pattern>/DeleteFeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImageServlet</servlet-name>
        <url-pattern>/UploadImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRecipeServlet</servlet-name>
        <url-pattern>/EditRecipeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRecipeServlet</servlet-name>
        <url-pattern>/DeleteRecipeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRecipeServlet</servlet-name>
        <url-pattern>/AddRecipeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadNewsImageServlet</servlet-name>
        <url-pattern>/UploadNewsImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletImageLoader</servlet-name>
        <url-pattern>/ServletImageLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetNotificationStatusServlet</servlet-name>
        <url-pattern>/SetNotificationStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNotificationServlet</servlet-name>
        <url-pattern>/DeleteNotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPlanServlet</servlet-name>
        <url-pattern>/AddPlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRecipeToPlanServlet</servlet-name>
        <url-pattern>/AddRecipeToPlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanDetailServlet</servlet-name>
        <url-pattern>/PlanDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuggestionRecipeServlet</servlet-name>
        <url-pattern>/SuggestionRecipeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSuggestionSerlvet</servlet-name>
        <url-pattern>/AddSuggestionSerlvet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSuggestionSerlvet</servlet-name>
        <url-pattern>/CreateSuggestionSerlvet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterSuggestionServlet</servlet-name>
        <url-pattern>/FilterSuggestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveSuggestionServlet</servlet-name>
        <url-pattern>/RemoveSuggestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSuggestionServlet</servlet-name>
        <url-pattern>/ManageSuggestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSuggestionServlet</servlet-name>
        <url-pattern>/UpdateSuggestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSuggestionServlet</servlet-name>
        <url-pattern>/DeleteSuggestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectRecipeServlet</servlet-name>
        <url-pattern>/RejectRecipeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadAvatarImageServlet</servlet-name>
        <url-pattern>/UploadAvatarImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadEditRecipeServlet</servlet-name>
        <url-pattern>/LoadEditRecipeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadRecipeManagementServlet</servlet-name>
        <url-pattern>/LoadRecipeManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadUserReviewServlet</servlet-name>
        <url-pattern>/LoadUserReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadPublicDetailServlet</servlet-name>
        <url-pattern>/LoadPublicDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadPublicProfileServlet</servlet-name>
        <url-pattern>/LoadPublicProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TriggerAppServlet</servlet-name>
        <url-pattern>/TriggerAppServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByTypeServlet</servlet-name>
        <url-pattern>/SearchByType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserPublicDetailServlet</servlet-name>
        <url-pattern>/UserPublicDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEmailSettingServlet</servlet-name>
        <url-pattern>/UserEmailSettingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserPasswordSettingServlet</servlet-name>
        <url-pattern>/UserPasswordSettingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/AdminDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadNewsForUpdateServlet</servlet-name>
        <url-pattern>/LoadNewsForUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSuggestionForUpdateServlet</servlet-name>
        <url-pattern>/LoadSuggestionForUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSuggestionForCreateServlet</servlet-name>
        <url-pattern>/LoadSuggestionForCreateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadNewsListServlet</servlet-name>
        <url-pattern>/LoadNewsList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBroadcastServlet</servlet-name>
        <url-pattern>/CreateBroadcastServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadBroadcastImageServlet</servlet-name>
        <url-pattern>/UploadBroadcastImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanManagementServlet</servlet-name>
        <url-pattern>/PlanManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryLoadServlet</servlet-name>
        <url-pattern>/CategoryLoadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanSearchServlet</servlet-name>
        <url-pattern>/PlanSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanAddRecipeServlet</servlet-name>
        <url-pattern>/PlanAddRecipeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanRecipeNotificationServlet</servlet-name>
        <url-pattern>/PlanRecipeNotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanRemoveRecipeServlet</servlet-name>
        <url-pattern>/PlanRemoveRecipeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanInformationEditServlet</servlet-name>
        <url-pattern>/PlanInformationEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveUserRecipeServlet</servlet-name>
        <url-pattern>/SaveUserRecipeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSavedRecipe</servlet-name>
        <url-pattern>/LoadSavedRecipe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSavedRecipeServlet</servlet-name>
        <url-pattern>/LoadSavedRecipeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSavedRecipeServlet</servlet-name>
        <url-pattern>/DeleteSavedRecipeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDailyPlanServlet</servlet-name>
        <url-pattern>/AddDailyPlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddWeeklyPlanServlet</servlet-name>
        <url-pattern>/AddWeeklyPlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStartTimeRecipeServlet</servlet-name>
        <url-pattern>/EditStartTimeRecipeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPlanMultiplesMealServlet</servlet-name>
        <url-pattern>/AddPlanMultiplesMealServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisablePlanServlet</servlet-name>
        <url-pattern>/DisablePlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveAllRecipeServlet</servlet-name>
        <url-pattern>/RemoveAllRecipeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePlanServlet</servlet-name>
        <url-pattern>/DeletePlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UseDailyPlanTemplateServlet</servlet-name>
        <url-pattern>/UseDailyPlanTemplateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SychronizeTemplateServlet</servlet-name>
        <url-pattern>/SychronizeTemplateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadEditPlanDetailServlet</servlet-name>
        <url-pattern>/LoadEditPlanDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadEditDailyTemplateServlet</servlet-name>
        <url-pattern>/LoadEditDailyTemplateServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1000
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>TriggerAppServlet</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jsp</location>
    </error-page>
</web-app>
