<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>STMP host choosing</description>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <description>Port is the SMTP protocol code required to send mails. 587 sends encrypted mails.</description>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <description>Your email</description>
        <param-name>user</param-name>
        <param-value>Delideliswp@gmail.com</param-value>
    </context-param>
    <context-param>
        <description>your mail pass, for google SMTP you must create a app pass</description>
        <param-name>pass</param-name>
        <param-value>kdrqzqffvjjmddat</param-value>
    </context-param>
    <servlet>
        <servlet-name>Example</servlet-name>
        <servlet-class>Servlet.Example</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>Servlet.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>Servlet.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>Servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveUserPublicDetailServlet</servlet-name>
        <servlet-class>Servlet.SaveUserPublicDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserEmailServlet</servlet-name>
        <servlet-class>Servlet.ChangeUserEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserPasswordServlet</servlet-name>
        <servlet-class>Servlet.ChangeUserPasswordServlet</servlet-class>
        </servlet>
        <servlet>
        <servlet-name>RecipeDetailServlet</servlet-name>
        <servlet-class>Servlet.RecipeDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>Servlet.FeedbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Example</servlet-name>
        <url-pattern>/Example</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveUserPublicDetailServlet</servlet-name>
        <url-pattern>/SaveUserPublicDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserEmailServlet</servlet-name>
        <url-pattern>/ChangeUserEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserPasswordServlet</servlet-name>
        <url-pattern>/ChangeUserPasswordServlet</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
        <servlet-name>RecipeDetailServlet</servlet-name>
        <url-pattern>/RecipeDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/FeedbackServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
